@charset "UTF-8";
/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  position: relative;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
  padding-bottom: 14em;
  background-image: url(../images/restaurant-646678_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#pruebaGrid {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  gap: 25px;
  padding: 20px;
}

.boxGrid {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.boxGrid:hover {
  transform: scale(1.05);
}

.boxGrid img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
}

.boxGrid:hover img {
  transform: scale(1.2);
}

#pruebaGrid p {
  font-size: 46px; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  color: #333; /* Color de texto */
  background-color: antiquewhite;
}

.contenedor-iframe {
  max-width: 100%;
  overflow: hidden;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* Proporción del contenedor (ajustar según el aspecto deseado) */
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.caja {
  width: 600px;
  height: 400px;
  padding: 40px;
  background-color: #e7e3e3;
  border: 1px solid #111010;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.caja:hover {
  transform: scale(1.05);
}

.texto {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 34px;
  color: #030303;
}

.caja:hover .texto {
  opacity: 1;
}

.footerLogo img {
  width: 200px;
  height: 200px;
}

h1 {
  text-align: center;
  margin: 20px;
  color: brown;
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  text-align: center;
  color: brown;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parrafo {
  padding: 20px;
  color: #7c7979; /* Color del texto */
  border: 2px solid #868282; /* Borde */
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  line-height: 1.6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: all 0.3s ease;
}

p {
  font-size: 40px;
}

/* Estilos generales del footer */
#footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(82, 8, 8);
  color: white;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.footerSocial {
  display: flex;
  margin-bottom: 10px;
}

.footerLinks img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.footerSocial a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
}

.footerLinks .footerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footerLinks ul li {
  display: inline;
  margin-right: 20px;
}

.footerLinks ul li:last-child {
  margin-right: 0;
}

.footerLinks ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Estilo del iframe */
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parrafo {
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}

.imgindexs img {
  margin-left: 20px;
  align-items: center;
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.imgindexs img:hover {
  transform: scale(1.1);
}

.imgindexs img:hover {
  opacity: 0.8;
}

#videoindex {
  max-width: 90%;
  max-height: auto;
  margin-left: 90px;
  position: relative;
  margin-bottom: 10px;
  margin: 0 auto;
  display: block;
}

.boxImg {
  align-items: center;
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 60%;
  margin: auto;
}

.boxImg img {
  align-items: center;
  width: 500px;
  height: 400px;
  position: absolute;
  border-radius: 20px;
}

.boxImg h2 {
  align-items: center;
  position: absolute;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

.boxImg2 {
  align-items: center;
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 60%;
  margin: auto;
}

.boxImg2 img {
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  position: relative;
}

.boxImg3 {
  align-items: center;
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 60%;
  margin: auto;
}

.boxImg3 img {
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

/* ESTILO INDEX 1RA IMAGEN GRILLA*/
#imgprincipal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas: "imagenprincipal";
  max-width: 95%;
  margin: 0 auto;
}

.imagenprincipal img {
  width: 95%;
  height: auto;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#gridMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 500px);
  gap: 10px;
  grid-template-areas: "gridmenu1 txtmenu1" "gridmenu2 txtmenu2" "gridmenu3 txtmenu3" "gridmenu4 txtmenu4" "gridmenu5 txtmenu5";
}

.boxgridmenu {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.boxgridmenu img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.boxgridmenu img:hover {
  transform: scale(1.1);
}

.gridmenu1 {
  grid-area: gridmenu1;
}

.gridmenu2 {
  grid-area: gridmenu2;
}

.gridmenu3 {
  grid-area: gridmenu3;
}

.gridmenu4 {
  grid-area: gridmenu4;
}

.gridmenu5 {
  grid-area: gridmenu5;
}

.txtmenu1 {
  grid-area: txtmenu1;
}

.txtmenu2 {
  grid-area: txtmenu2;
}

.txtmenu3 {
  grid-area: txtmenu3;
}

.txtmenu4 {
  grid-area: txtmenu4;
}

.txtmenu5 {
  grid-area: txtmenu5;
}

.txtmenu1,
.txtmenu2,
.txtmenu3,
.txtmenu4,
.txtmenu5 {
  font-size: 40px;
  color: black;
  font-family: Arial, sans-serif;
  font-style: italic;
  -webkit-text-stroke: 2px rgb(82, 80, 80);
}

#nav {
  text-align: left;
}

#nav ul li a:hover {
  color: black;
  font-size: 20px;
  transition: 1.5s;
}

#nav ul {
  list-style: none;
  padding: 0;
}

#nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999; /* Color del círculo */
  margin-left: 5px;
  animation: bounce 1s infinite; /* Animación del círculo */
}

#nav ul li:last-child {
  margin-right: 0;
}

#nav ul li a {
  justify-content: space-between;
  margin: 8px;
}

#nav ul li a:hover {
  color: black;
  font-size: 20px;
  transition: 1.5s;
}

li {
  color: rgb(247, 239, 239);
  font-family: "Vina Sans", sans-serif;
  font-size: 30px;
  list-style: circle;
}

#main {
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(82, 8, 8);
  align-items: center;
  padding: 10px;
}

/* Estilo para dispositivos móviles */
@media screen and (max-width: 768px) {
  li {
    font-size: 24px;
  }
  h1 {
    font-size: 40px;
  }
  .parrafo {
    font-size: 21px;
  }
  .boxImg,
  .boxImg2,
  .boxImg3 {
    width: 80%;
    margin: auto;
  }
  #pruebaGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
  .boxGrid img {
    width: 100%;
    height: auto;
  }
  #pruebaGrid p {
    font-size: 26px;
  }
  #footer {
    flex-direction: column;
  }
}
#carouselExample {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .txtmenu1,
  .txtmenu2,
  .txtmenu3,
  .txtmenu4,
  .txtmenu5 {
    font-size: 21px;
  }
}
@media screen and (max-width: 768px) {
  th, td {
    font-size: 14px;
  }
  th {
    font-size: 16px;
  }
  tfoot th {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #pruebaGrid {
    max-width: 100%;
  }
  .boxGrid {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .caja {
    width: 90%;
    height: auto;
    padding: 20px;
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-iframe {
    width: 95%;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .imgindexs img {
    margin-left: 20px;
    max-width: 90%;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}

th {
  background-color: #060606;
  font-size: 18px;
}
th thead th {
  background-color: #e6e6e6;
  font-weight: bold;
}
th tfoot th {
  background-color: #b59b68;
  font-size: 18px;
}
th tfoot th[colspan="2"] {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
