* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #body {
    position: relative;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    padding-bottom: 14em;
    background-image: url(../images/restaurant-646678_1280.jpg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #main {
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 8, 8);
    align-items: center;
    padding: 10px;
  }
  
  #nav {
    text-align: left;
  }
  
  #nav ul li a:hover {
    color: black;
    font-size: 20px;
    transition: 1.5s;
  }
  
  #nav ul {
    list-style: none;
    padding: 0;
  }
  
  #nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul li:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999; /* Color del círculo */
    margin-left: 5px;
    animation: bounce 1s infinite; /* Animación del círculo */
  }
  
  #nav ul li:last-child {
    margin-right: 0;
  }

  #nav ul li a {
    justify-content: space-between;
    margin: 8px;
  }
  
  .footerLogo img {
    width: 200px;
    height: 200px;
  }
  
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; 
    overflow: hidden;
  }
  
  /* Estilo del iframe */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .imgindexs img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out;
  }
  
  .imgindexs img:hover {
    transform: scale(1.1);
  }
  .imgindexs img:hover {
    opacity: 0.8; 
  }
  
  #nav ul li a:hover {
    color: black;
    font-size: 20px;
    transition: 1.5s;
  }
  
  li {
    color: rgb(247, 239, 239);
    font-family: 'Vina Sans', sans-serif;
    font-size: 30px;
    list-style: circle;
  }
  
  h1 {
    text-align: center;
    margin: 20px;
    color: brown;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: brown;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .parrafo {
    padding: 20px;
    color: #7c7979; /* Color del texto */
    border: 2px solid #868282; /* Borde */
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease;
  }
  p {
    font-size: 40px;
  }
  
  /* Estilos generales del footer */
  #footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(82, 8, 8); 
    color: white; 
    padding: 20px 0; 
    display: flex;
    align-items: center;
  }
  
  
  .footerSocial {
    display: flex;
    margin-bottom: 10px;
  }
  .footerLinks img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    margin-bottom: 10px; 
  }
  
  
  .footerSocial a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .footerLinks
  
  
  
  .footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .footerLinks ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .footerLinks ul li:last-child {
    margin-right: 0;
  }
  
  .footerLinks ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  
  
  .boxImg {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
  }
  
  .boxImg img {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 20px;
  }
  
  .boxImg h2 {
    position: absolute;
    text-align: center;
    padding-bottom: 10px;
    color: black;
  }
  
  .boxImg2 {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
  }
  
  .boxImg2 img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    position: relative;
  }
  
  .boxImg3 {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
  }
  
  .boxImg3 img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
  }
  /* ESTILO INDEX 1RA IMAGEN GRILLA*/
  #imgprincipal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
    gap: 10px;
    grid-template-areas: "imagenprincipal";
  }
  .imagenprincipal img{
    width: 100%;
    height: 100%;
  }
  .imagenprincipal{
    grid-area: imagenprincipal;
  }
  /* ESTILOS PAGUE CONOCENOS grillas */
  #pruebaGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (4, 400px);
    gap: 10px;
    grid-template-areas:
  "imagen1"
  "imagen2"
  "imagen3"
  "imagen4"
     ;
  }
  .boxGrid img {
    width: 100%;
    height: 100%;
  }
  .imagen1 {
    grid-area: imagen1;
  }
  .imagen2 {
    grid-area: imagen2;
  }
  .imagen3 {
    grid-area: imagen3;
  }
  .imagen4 {
    grid-area: imagen4;
  }
  #gridMenu {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,500px);
    gap: 10px;
    grid-template-areas:
    "gridmenu1 txtmenu1"
    "gridmenu2 txtmenu2"
    "gridmenu3 txtmenu3"
    "gridmenu4 txtmenu4"
    "gridmenu5 txtmenu5"
  }
  .boxgridmenu {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .boxgridmenu img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }
  .boxgridmenu img:hover {
      transform: scale(1.1); 
    }
  .gridmenu1 {grid-area: gridmenu1;}
  .gridmenu2 {grid-area: gridmenu2;}
  .gridmenu3 {grid-area: gridmenu3;}
  .gridmenu4 {grid-area: gridmenu4;}
  .gridmenu5 {grid-area: gridmenu5;}
  .txtmenu1 {grid-area: txtmenu1;}
  .txtmenu2 {grid-area: txtmenu2;}
  .txtmenu3 {grid-area: txtmenu3;}
  .txtmenu4 {grid-area: txtmenu4;}
  .txtmenu5 {grid-area: txtmenu5;}
  
  .txtmenu1,
  .txtmenu2,
  .txtmenu3,
  .txtmenu4,
  .txtmenu5 {
    font-size: 40px;
  }
  
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px; 
    color: #fff; 
  }
  
  th {
    background-color: #060606;
    font-size: 18px; 
  
  thead th {
    background-color: #e6e6e6;
    font-weight: bold;
  }
  
  tfoot th {
    background-color: #b59b68;
    font-size: 18px; 
  }
  
  tfoot th[colspan="2"] {
    text-align: center;
  }
  /* Estilo para dispositivos móviles */
  @media screen and (max-width: 768px) {
    li {
      font-size: 24px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    
    .boxImg,
    .boxImg2,
    .boxImg3 {
      width: 80%;
      margin: auto; 
    }
  
    
    #pruebaGrid {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      gap: 5px;
    }
  
    .boxGrid img {
      width: 100%; 
      height: auto; 
    }
    #footer {
      flex-direction: column;
    }
  
  }
  @media (min-width:768px) and (orientation: landscape)    {}
  
  
  
  #carouselExample{
    width: 100%;
    height: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .txtmenu1,
    .txtmenu2,
    .txtmenu3,
    .txtmenu4,
    .txtmenu5 {
      font-size: 21px;
    }
  }
  }
  @media screen and (max-width: 768px) {
    th, td {
      font-size: 14px; 
    }
    
    th {
      font-size: 16px; 
    }
    
    tfoot th {
      font-size: 16px; 
    }
  }