  /* Estilo para dispositivos móviles */
  @media screen and (max-width: 768px) {
    li {
      font-size: 24px;
    }
  
    h1 {
      font-size: 40px;
    }

    .parrafo {
      font-size: 21px;
    }
  
    
    .boxImg,
    .boxImg2,
    .boxImg3 {
      width: 80%;
      margin: auto; 
    }
  
    
    #pruebaGrid {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      gap: 5px;
    }
  
    .boxGrid img {
      width: 100%; 
      height: auto; 
    }
    #footer {
      flex-direction: column;
    }
  
  }
  @media (min-width:768px) and (orientation: landscape)    {}
  
  
  
  #carouselExample{
    width: 100%;
    height: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .txtmenu1,
    .txtmenu2,
    .txtmenu3,
    .txtmenu4,
    .txtmenu5 {
      font-size: 21px;
    }
  }
  
  @media screen and (max-width: 768px) {
    th, td {
      font-size: 14px; 
    }
    
    th {
      font-size: 16px; 
    }
    
    
    tfoot th {
      font-size: 16px; 
    }
  }

@media screen and (max-width: 768px) {
  #pruebaGrid {
      max-width: 100%; 
  }
  .boxGrid {
      width: 100%; 
  }
}


@media screen and (max-width: 768px) {
  .caja {
    width: 90%;
    height: auto; 
    padding: 20px; 
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .contenedor-iframe {
    width: 95%; 
    height: 400px;
  }
}
@media screen and (max-width: 768px )
{
  .imgindexs img {
    margin-left: 20px;
    max-width: 90%;
  }

}